{% extends 'base.html.twig' %}

{% block title %}Lieu index{% endblock %}

{% block main %}
    <br>
    <div class="container">
        <h1>Gérer les lieux</h1>
        <br>
        <table class="table">
            <thead>
            <tr>
{#                <th>Ville</th>#}
                <th>Nom</th>
                <th>Rue</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for lieu in lieus %}
                <tr>
{#                    <td>{{ lieu.villeLieux }}</td>#}
                    <td>{{ lieu.nom }}</td>
                    <td>{{ lieu.rue }}</td>
                    <td>{{ lieu.latitude }}</td>
                    <td>{{ lieu.longitude }}</td>
                    <td>
                        <a href="{{ path('lieu_edit', {'id': lieu.id}) }}">Modifier</a>
                        <a>-</a>
                        <a href="{{ path('lieu_delete', {'id': lieu.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% else %}
            {% endfor %}
            <tr>
                <td>
                    <label>
                       <input type="text" class="form-control" placeholder="Ville" name="villeLieux">
                        <input type="text" class="form-control" placeholder="Nom de lieu" name="nom">
                        <input type="text" class="form-control" placeholder="Nom du rue" name="rue">
                        <input type="text" class="form-control" placeholder="latitude" name="latitude">
                        <input type="text" class="form-control" placeholder="longitude" name="longitude">
                    </label>
                </td>
                <td>
                    <a href="{{ path('lieu_new') }}">Ajouter</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
