{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block main %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Afficher une sortie</h1>

    {{ form_start(afficherUneSortie) }}


    {{ form_row(afficherUneSortie.nom, {'attr': {'placeholder': "Nom de sortie"}}) }}

    {{ form_row(afficherUneSortie.dateHeureDebut) }}

    {{ form_row(afficherUneSortie.dateLimiteInscription) }}

{#    {{ form_row(afficherUneSortie.) }} nombre de perssonne max#}

    {{ form_row(afficherUneSortie.duree) }}

    {{ form_row(afficherUneSortie.infosSortie, {'attr': {'placeholder': "Description de sortie"}}) }}


    {{ form_row(afficherUneSortie.campus) }}

{#    {{ form_row(afficherUneSortie.ville) }}#}

    {{ form_row(afficherUneSortie.lieuxSorties) }}

    {{ form_row(afficherUneSortie.rue) }}

    {{ form_row(afficherUneSortie.codePostal) }}

    {{ form_row(afficherUneSortie.latitude) }}

    {{ form_row(afficherUneSortie.longitude) }}

    {{ form_end(afficherUneSortie) }}

    <section id="lstUsersInscrits">
        <table>

        </table>
    </section>
</div>
{% endblock %}
