{% extends 'base.html.twig' %}

{% block main %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<br>
<div class="example-wrapper">
    <h1>Annuler une sortie</h1>

    {{ form_start(annulerUneSortie) }}


    {{ form_row(annulerUneSortie.nom, {'attr': {'placeholder': "Nom de sortie"}}) }}

    {{ form_row(annulerUneSortie.dateHeureDebut) }}

    {{ form_row(annulerUneSortie.campus) }}

    {{ form_row(annulerUneSortie.lieuxSorties) }}

    {{ form_row(annulerUneSortie.infosSortie, {'attr': {'placeholder': "Description de sortie"}}) }}

    <br><br><br><br>
    <div class="row g-3">
        <div class="col">
            {{ form_row(annulerUneSortie.Enregistrer) }}
        </div>
        <div class="col">
            {{ form_row(annulerUneSortie.Annuler) }}
        </div>
    </div>

    {{ form_end(annulerUneSortie) }}
</div>

{% endblock %}

