{% extends 'base.html.twig' %}
{#     {% form_theme formCreateSortie 'bootstrap_4_layout.html.twig' %}#}

{% block main %}

        {{form_start(createSortieForm)}}
        <div class="row gx-3 justify-content-center">
            <h1>Créer une sortie</h1>
            <div class="col-md-4" >
                {{ form_row(createSortieForm.nom, {'attr': {'placeholder': "Nom de sortie"}}) }}

                {{ form_row(createSortieForm.dateHeureDebut) }}

                {{ form_row(createSortieForm.dateLimiteInscription) }}

                {{ form_row(createSortieForm.nbinscriptionsMax) }}

                {{ form_row(createSortieForm.duree) }}

                {{ form_row(createSortieForm.infosSortie, {'attr': {'placeholder': "Description de sortie"}}) }}
            </div>
            <div class="col-md-4">
                {{ form_row(createSortieForm.campus) }}

                {{ form_row(createSortieForm.ville) }}

                {{ form_row(createSortieForm.lieuxSorties) }}

                {{ form_row(createSortieForm.rue) }}

                {{ form_row(createSortieForm.codePostal) }}

                {{ form_row(createSortieForm.latitude) }}

                {{ form_row(createSortieForm.longitude) }}
            </div>
            <div>
                <br><br>
            </div>

            <div class="col-md-4 g-5 justify-content-between">
                <button type="submit" class="btn btn-warning">Enregistrer</button>
                <button type="submit" class="btn btn-primary">Publier la sortie</button>
                <button type="submit" class="btn btn-danger" onclick="{{path('home')}}">Annuler</button>
            </div>
        </div>
        {{form_end(createSortieForm)}}

{% endblock %}

