{% extends 'base.html.twig' %}

{% block main %}
    <link rel="stylesheet" href="{{ asset('css/CreateSortie.css') }}">

    <div id="CreateSortieForm">
        <div class="container">
            {{ form_start(createSortieForm) }}
            <div class="entry-title" style="color: #0d5470">
                <h1>Créer une sortie</h1>
            </div>
            <br>
            <div class="row g-3 aligncenter">
                <div class="col">
                    {{ form_row(createSortieForm.nom, {'attr': {'placeholder': "Nom de sortie"}}) }}
                </div>
                <div class="col">
                    {{ form_row(createSortieForm.sortieOrganisee, {'attr': {'placeholder': "Campus"}}) }}
                </div>
            </div>
            <br>
            <div class="row g-3">
                <div class="col">
                    {{ form_row(createSortieForm.dateHeureDebut) }}
                </div>
                <div class="col">
                    {{ form_row(createSortieForm.ville) }}
                </div>
            </div>
            <br>
            <div class="row g-3">
                <div class="col">
                    {{ form_row(createSortieForm.dateLimiteInscription) }}
                </div>
                <div class="col">
                    <div class="row g-3">
                        <div class="col">
                            {{ form_row(createSortieForm.lieuxSorties) }}
                        </div>
                        <div class="col">
                            <a href="{{ path('lieu_index') }}"><img class="imgButton"
                                                                    src="{{ asset('img/plusButton.png') }}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col">
                    {{ form_row(createSortieForm.nbinscriptionsMax) }}
                </div>
                <div class="col">
                    {{ form_row(createSortieForm.rue) }}
                </div>
            </div>
            <br>
            <div class="row g-3">
                <div class="col">
                    {{ form_row(createSortieForm.duree) }}
                </div>
                <div class="col">
                    {{ form_row(createSortieForm.codePostal) }}
                </div>
            </div>
            <br>
            <div class="row g-3">
                <div class="col">
                    {{ form_row(createSortieForm.infosSortie, {'attr': {'placeholder': "Description de sortie"}}) }}
                </div>
                <div class="col">
                    {{ form_row(createSortieForm.latitude) }}
                </div>
            </div>
            <div class="row g-3">
                <div class="col">
                </div>
                <div class="col">
                    {{ form_row(createSortieForm.longitude) }}
                </div>
            </div>
            <br><br>
            <div class="row g-3 container-fluid">
                <div class="col" >
                    {{ form_row(createSortieForm.Enregistrer) }}
                </div>
                <div class="col " >
                    {{ form_row(createSortieForm.Publier) }}
                </div>
                <div class="col">
                    {{ form_row(createSortieForm.Annuler) }}
                </div>
            </div>
            <br>
            {{ form_end(createSortieForm) }}
        </div>
    </div>
{% endblock %}

