{% extends 'base.html.twig' %}

{% block title %}Ceci est la page d'accueil{% endblock %}



{% block main %}
    <link rel="stylesheet" href="{{ asset('css/sortie.css') }}">

    <div id="Header">

        <div id="Date">
            <p>Date du Jour:  {{"now"|date("d/m/Y") }} </p>
        </div>

        <div id="prenomParticipant">
            <p>Participant: {{ app.user.prenom ?? 'Vous n\'etes plus connecté'  }} {{ app.user.nom ?? '...' }} </p>
        </div>
    </div>


    <div id="filtre">
        <h2>Filtrer les sorties</h2>
            {#Afficher le formulaire#}


            {{form_start(searchFiltersForm)}}
            {{form_row(searchFiltersForm.campus)}}
            {{form_row(searchFiltersForm.motCles)}}
            {{form_row(searchFiltersForm.dateHeureDebut)}}
            {{form_row(searchFiltersForm.dateLimiteInscription)}}
        <div id="filtre2">
            {{form_end(searchFiltersForm)}}
        </div>
    </div>

    <div id="lstSorties">
        <table class="table table-hover">
            <thead id="child-1">
            <tr class="table-primary">
                <td>Nom de la sortie</td>
                <td>Date de la sortie</td>
                <td>Clôture</td>
                <td>inscrits/place</td>
                <td>Etat</td>
                <td>Inscrit</td>
                <td>Organisateur</td>
                <td>Action</td>
            </tr>
            </thead>
            <TBODY>
            {%for sortie in listSortie%}
                <tr class="table-secondary">
                    <td>{{sortie.nom}}</td>
                    <td>{{sortie.dateHeureDebut|date("m/d/Y")}}</td>
                    <td>{{sortie.dateLimiteInscription|date("m/d/Y")}}</td>
                    <td>{{sortie.nbinscriptionsMax}} / {{sortie.nbinscriptionsMax}}</td>
                    <td>{{sortie.etatSorties.libelle}}</td>
                    <td>...</td>
                    <td>
                        {#redirige vers l'affichage du participant ayant organisé une sortie#}
                        <a href=" {{path('profil_participant', {'id': sortie.organisateur.pseudo}) }}">{{sortie.organisateur.pseudo}}</a>
                    </td>
                    <td>

                        {#redirige vers l'affichage du détail de la sortie#}
                        <a href="{{ path('sortie_afficherSortie', {'id': sortie.id}) }}" >Afficher</a>
                        {#<a onclick="show" >Afficher</a>#}
                    </td>
                </tr>
            {%endfor%}
            </TBODY>
        </table>

        <button class="btn btn-lg btn-primary" type="button" onclick="window.location.href='sortie/createSortie'" >
            Nouvelle Sortie
        </button>
    </div>





{% endblock %}
