{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Mon Profil{% endblock %}

{% block main %}

    <h2>Mon profil</h2>

    {# affichage du formulaire #}

    {{form_start(nouveauProfilParticipantForm)}}


    {{form_row(nouveauProfilParticipantForm.prenom)}}
    {{form_row(nouveauProfilParticipantForm.nom)}}
    {{form_row(nouveauProfilParticipantForm.telephone)}}
    {{form_row(nouveauProfilParticipantForm.email)}}
    {{form_row(nouveauProfilParticipantForm.password.first)}}
    {{form_row(nouveauProfilParticipantForm.password.second)}}
    {{form_row(nouveauProfilParticipantForm.estRattache)}}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <button type="reset" class="btn btn-secondary">Annuler</button>

    {{form_end(nouveauProfilParticipantForm)}}




{% endblock %}
