{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mon Profil{% endblock %}

{% block main %}
    {# <link rel="stylesheet" href="{{ asset('.Css/style.css') }}"> #}

    <div class="cssUser">
        <div class="container">
            <h1>Mon profil</h1>

            {# affichage du formulaire #}
            {{ form_start(nouveauProfilParticipantForm) }}
            {{ form_row(nouveauProfilParticipantForm.prenom) }}
            <br>
            {{ form_row(nouveauProfilParticipantForm.nom) }}
            <br>
            {{ form_row(nouveauProfilParticipantForm.telephone) }}
            <br>
            {{ form_row(nouveauProfilParticipantForm.password) }}
            <br>
            {{ form_row(nouveauProfilParticipantForm.email) }}
            <br>
            {{ form_row(nouveauProfilParticipantForm.estRattache) }}
            <br>
            {{ form_end(nouveauProfilParticipantForm) }}

            <a href="{{ path('home') }}">
                <button type="reset" class="btn btn-secondary">Annuler</button>
            </a>
            <br>
        </div>
    </div>





{% endblock %}
