{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block main %}
<div class="example-wrapper">
    <h1>Afficher une ville</h1>

    {{ form_start(afficherUneVille) }}


    {{ form_row(afficherUneVille.nom)}}
    {{ form_row(afficherUneVille.codePostal) }}

    <a href="{{ path('ville_index') }}">back</a>

    {{ include('ville/_delete_form.html.twig') }}
</div>
{% endblock %}
